<h1>一覧表示</h1>

<table>
    <tr>
        <th>タイトル</th>
        <th>内容</th>
    </tr>
    
    <% @blogs.each do |blog| %>
    <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        
        <td><%= link_to '詳細', blog_path(blog.id), class: 'btn btn-default' %></td>
        <% if blog.user_id == current_user.id %>
            <td><%= link_to '編集', edit_blog_path(blog.id), class: 'btn btn-info' %></td>
            <td><%= link_to '削除', blog_path(blog.id), method: :delete, data: { confirm: '削除していいですか？' }, class: 'btn btn-danger' %></td>
        <% end %>
    </tr>
<% end %>
</table>

<ul>
<li class="last"><%= link_to '投稿', new_blog_path %></li>
<li class="last"><%= link_to '一覧表示', blogs_path %></li>
</ul>