<h1>詳細確認</h1>
<p>投稿者名：<%= @blog.user.name %></p>
<p>タイトル：<%= @blog.title %></p>
<p>内容：<%= @blog.content %></p>
<p>写真：<%= image_tag @blog.image %></p>
<%= link_to '一覧表示', blogs_path %>


<% unless @blog.user == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(blog_id: @blog.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>